# Ignore node_modules except production dependencies
node_modules/**
!node_modules/some-package-you-need/**

# Ignore source code files if you only publish compiled code
src/
.vscode/
.gitignore
*.ts
*.map
test/
tests/
*.md
webpack.config.js

